@media screen and (min-width: 0px) {
    .contactMain {
      position: relative;
      margin-top: 15%;
      background-image: linear-gradient(130deg, var(--darker) 54%, white 46%);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 5% 5% 0 5%;
    }
  
    .flex-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .title {
      width: 100%;
      margin: 2% 3%;
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: left;
    }
  
    .title > h1 {
      font-size: 3em;
      color: white;
      margin: 5% 0%;
    }
  
    .title > p {
      font-size: 1.25em;
      color: white;
    }
  
    .form-fields {
      width: 100%;
      margin: 5% 0%;
    }
  
    .contact-field {
      display: block;
      margin-bottom: 3%;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      width: 90%;
      padding: 1em;
      border: 2px solid var(--darker);
      border-radius: 4px;
      display: block;
      resize: none;
      background-color: #fff !important;
    }
  
    #message {
      background-color: #fff;
    }
  
    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    textarea::placeholder {
      color: var(--darker);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  
    .button-container {
      margin: 6% auto;
      width: 50%;
    }
  
    .button {
      color: var(--darker);
      background: rgba(255, 0, 0, 0);
  
      rect {
        stroke: var(--darker);
      }
    }
  
    .button:hover {
      color: white;
      background: var(--darker);
  
      rect {
        stroke: white;
      }
    }
  
    /* For sent message */
    .notification {
      opacity: 1;
      display: block;
      width: 100%;
      padding: 2%;
      margin: 2% 0%;
      transition: opacity 3s ease-out;
    }
  
    .hiddenElement {
      display: none;
    }
  
    .background-success {
      background-color: lightgreen;
    }
  
    .background-error {
      background-color: lightcoral;
    }
  }
  
  
  @media screen and (min-width: 670px) {
    .contactMain {
      margin-top: 7%;
    }
  
    .flex-column {
      flex-direction: row;
      align-items: start;
    }
  
    .title {
      max-width: 40%;
      margin: 0% 10% 0% 0%;
      overflow-wrap: break-word;
    }
  
    .form-fields {
      width: 60%;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
    }
  
    .button-container {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 674px) {
    .contactMain {
      margin-top: 5%;
    }
  }