@media screen and (min-width: 0px) {
    body {
      height: 100vh;
    }
  
    main {
      margin-top: 15%;
    }
  
    .introduction-section {
      position: relative;
      width: 100%;
      min-height: auto;
      color: rgb(36, 18, 25);
      text-align: left;
    }
  
    .heading {
      background-color: var(--darker);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .heading h1 {
      font-size: 4em;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }
  
    .divider-section {
      width: 100vw;
      margin: 5% 0%;
      padding: 8% 5%;
    }
  
    .who-are-we {
      width: 100%;
      min-height: auto;
      padding: 2% 15%;
    }
  
    .text-new {
      background-color: white;
      height: 100%;
      padding: 5% 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 2em;
      font-weight: bold;
      color: var(--darker);
    }
  
    .mission,
    .vision {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }
  
    .mission {
      flex-direction: column;
    }
  
    .vision {
      flex-direction: column-reverse;
    }
  
    .three-divs {
      display: flex;
      align-content: stretch;
      flex-direction: column;
      justify-content: space-around;
      margin: 5% 5%;
      background-color: #fff;
    }
  
    .barrel-container {
      margin: 5% 2%;
    }
  
  }
  
  