
@media screen and (min-width: 0px) {

    /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 5%;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
    
  .slideShow {
      position: relative;
      display: inline-block;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    color: white;
    text-decoration: none;
    z-index: 5;
    padding: 2%;
    cursor: pointer;
  }
  
  .next {
    right: 0;
  }
  
  .prev {
    left: 0;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  img {
    max-width: 100%;
  }
  
  .modal-text {
    max-height: 60vh;
    overflow: auto;
    padding: 2% 5%;
  }
  
  .modal-text > h1 {
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 2%;
  }
  
  .feedback {
    margin: 10% 0;
    padding: 2% 2%;
    border: 1px solid grey;
    text-align: center;
  }
  
  q {
    text-align: center;
    font-style: italic;
  }
  
  .cta-contact-partner {
    display: flex;
    justify-content: center;
    margin: 0%;
    border-radius: 5px;
    font-size: 1.25em;
    color: white;
    background-color: var(--darker);
    background-image: linear-gradient(45deg, var(--bold) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background-position 0.5s ease-in-out;
    &:hover {
      background-position: 0;
    }
  }
  
  .close {
    top: 0;
    right: .2em;
    font-size: 1.75em;
    position: absolute;
    margin-left: 1em;
    cursor: pointer;
    color: #aaa;
    align-self: right;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #575757;
  }
    
  }
  
  @media screen and (min-width: 400px) {
    .modal-text {
      max-height: 50vh;
    }
  }
  
  @media screen and (min-width: 450px) {
    .modal-text {
      max-height: 40vh;
    }
  }
  
  @media screen and (min-width: 550px) {
    .modal-text {
      max-height: 30vh;
    }
  }
  
  @media screen and (min-width: 650px) {
    .modal-content {
      flex-direction: row;
    }
  
    .slideShow {
      width: 50%;
    }
  
    .modal-text {
      max-height: 70vh;
      width: 50%;
    }
  }
  
  @media screen and (min-width: 800px) {
    .modal-content {
      margin-top: 5%;
    }
  }
  