@media screen and (min-width: 0px) {
    main {
      margin-top: 30%;
    }
  
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10% auto 0%;
      width: 80%;
      justify-content: center;
    } 
    
    .service-dots-container {
      display: none;
    }
  
    .description {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  
    main .description:nth-of-type(even) {
      flex-direction: column-reverse;
    }
  
    .divider-section {
      width: 100vw;
      margin: 20% 0% 0%;
      padding: 8% 5%;
    }
  
    .heading {
      background-color: var(--darker);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  
    .heading h1 {
      font-size: 2em;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .who-are-we {
      width: 100%;
      min-height: auto;
      padding: 2% 10%;
    }
  
    .text-new {
      background-color: white;
      height: 100%;
      padding: 5% 5%;
      font-size: 1em;
      color: var(--darker);
    }
  }
  
  @media screen and (min-width: 600px) {
    main {
      margin-top: 0;
    }
  
    .button-container {
      margin: 20% auto 10%;
    }
  
    .cta-button {
      padding: 5% 5%;
      width: 40%;
      text-align: center;
      text-decoration: none;
    }
  
    .icon {
      font-size: 50px;
    }
    
    .icon svg {
      height: 1em;
      width: 1em;
      margin: 20% 20%;
    }
  
    .service-dots-container {
      width: 100%;
      margin: 5% 0%;
      padding: 0% 10%;
      display: flex;
      justify-content: space-evenly;
    }
  
    .service-icon-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .dot {
      margin: 2%;
      height: 80px;
      width: 80px;
      background-color: var(--light);
      border-radius: 50%;
      display: inline-block;
      transition: transform 0.2s ease;
    }
  
    .dot:hover {
      background-color: var(--darker);
      cursor: pointer;
      animation: jump 1s ease;
    }
  
    .dot-active {
      background-color: var(--darker);
      cursor: pointer;
    }
  
    @keyframes jump {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }
  
    .service-title {
      color: var(--darker);
      font-size: 20px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  
    .description {
      flex-direction: row;
      padding: 5% 0% 0%;
      display: none;
    }
  
    .active-desc {
      display: flex;
      flex-direction: row;
    }
  
    main .description:nth-of-type(even) {
      flex-direction: row;
    }
  
    .description .heading {
      height: 70vh;
    }
  
    .trapezoid-left {
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }
  
    .trapezoid-right {
      clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
    }
  
    .left,
    .right {
      display: flex;
      align-items: center;
      width: 100%;
      flex-grow: 1;
      transition: flex-grow 0.5s ease-in-out;
    }
  
    @media (prefers-reduced-motion: no-preference) {
      .left-animation {
        animation: flyFromLeft 1s forwards;
      }
  
      .right-animation {
        animation: flyFromRight 1s forwards;
      }
    }
  
    @keyframes flyFromLeft {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }
  
    @keyframes flyFromRight {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }